# **Практика 1. Знакомство с библиотекой `pandas`**

[SmartLMS](https://edu.hse.ru/mod/quiz/view.php?id=1574583)

Вам предоставлен датасет про сотрудников одной крупной компании: `job_data.csv`

| Признак             | Описание                                |
| ------------------- | --------------------------------------- |
| Age                 | возраст                                 |
| Gender              | пол (1 — мужчины, 0 — женщины)          |
| Education Level     | уровень образования                     |
| Job Title           | должность                               |
| Years of Experience | опыт работы                             |
| Salary              | заработная плата в год ($)              |
| Country             | родная страна                           |
| Race                | раса (True — белый, False — не белый)   |

In [ ]:
import pandas as pd
df = pd.read_csv('data/job_data.csv')

## **Задание 1**

>*Соотнесите признак и тип данных*

| **Признак**             | **Тип данных** |
| ----------------------- | -------------- |
| Age                     |                |
| Gender                  |                |
| Education Level         |                |
| Job Title               |                |
| Years of Experience     |                |
| Salary                  |                |
| Country                 |                |
| Race                    |                |

Варианты для выбора:  
- количественный дискретный  
- категориальный номинальный бинарный  
- категориальный порядковый  
- категориальный номинальный

---

## **Задание 2**

>*Укажите количество наблюдений и признаков в данных.*

---

## **Задание 3**

>*Соотнесите признак и формат данных*


| **Признак**             | **Формат данных** |
| ----------------------- | ----------------- |
| Age                     |                   |
| Gender                  |                   |
| Education Level         |                   |
| Job Title               |                   |
| Years of Experience     |                   |
| Salary                  |                   |
| Country                 |                   |
| Race                    |                   |

Варианты для выбора:  
- целые числа  
- строчный (str)  
- логический

---

## **Задание 4**

>*Укажите в каком признаке есть пропуски.*

---

## **Задание 5**

>*Укажите из какой страны (`Country`) работник, который расположен на 8 строке в датафрейме.*

---

## **Задание 6**

>*Укажите какую должность (`Job Title`) занимает сотрудник, который расположен на 10 с конца строке датафрейма.*

---

## **Задание 7**

>*Укажите уровень образования сотрудника (`Education Level`) под индексом 1125.*