# **Практика 3. Новые признаки**

[SmartLMS](https://edu.hse.ru/mod/quiz/view.php?id=1762215)

В вашем распоряжении — стандартный датасет экспорта из рекламной платформы (например, Meta Ads или Google Ads), содержащий ключевые метрики рекламных компаний:

- `Campaign name`: название рекламной компании
- `Campaign period`: месяца, когда реализовывалась рекламная компания
- `Campaign month`: конкретный месяц реализации рекламной компании
- `Delivery status`: текущее состояние рекламной кампании
- `Reach`: количество уникальных пользователей, которые увидели ваше рекламное объявление хотя бы один раз.
- `Outbound clicks`: количество кликов по ссылке в вашем объявлении, которые привели пользователя за пределы платформы (например, на ваш сайт, в приложение и т.д.)
- `Landing page views`: количество раз, когда пользователь не только кликнул по объявлению, но и успешно загрузил целевую страницу (посадочную страницу, лендинг).
- `Result type`: какое именно целевое действие считается результатом компании
- `Results`: количество достигнутых целевых действий
- `Amount spent (AED)`: общий бюджет, израсходованный на рекламную кампанию

In [ ]:
import pandas as pd
df = pd.read_csv('data/campaign_data.csv')
df.head()

,Campaign name,Campaign period,Campaign month,Delivery status,Reach,Outbound clicks,Landing page views,Result type,Results,Amount spent (AED)
0,brand awareness,march,march,archived,141835342,32289,5584,Reach,142000000,25531.47
1,cpr | ads website leads prospecting | 18 to 35...,march,march,inactive,4434511,38284,16060,Website leads,4347,19756.78
2,internship | virtual internship,nov | dec | jan | oct | fall | feb,nov,completed,911773,15679,10904,Website applications submitted,2706,16156.41
3,internship | virtual internship,nov | dec | jan | oct | fall | feb,dec,completed,1010394,16961,12387,Website applications submitted,2625,14935.46
4,internship | virtual internship,nov | dec | jan | oct | fall | feb,jan,inactive,1580670,27483,21140,Website applications submitted,5707,14887.13

# 1
Изучите представленные данные.

## 1.1 
>*Укажите размер таблицы:*
>- Наблюдений: `?`
>- Признаков: `?`

In [4]:
df.shape

(137, 10)

## 1.2
>*Укажите количество признаков, в которых есть пропуски:*

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Campaign name       137 non-null    object
 1   Campaign period     137 non-null    object
 2   Campaign month      137 non-null    object
 3   Delivery status     137 non-null    object
 4   Reach               137 non-null    int64
 5   Outbound clicks     137 non-null    int64
 6   Landing page views  137 non-null    int64
 7   Result type         137 non-null    object
 8   Results             137 non-null    int64
 9   Amount spent (AED)  137 non-null    float64
dtypes: float64(1), int64(4), object(5)
memory usage: 10.8+ KB

**ответ**: таких нет (0)

## 1.3
>*Укажите тип данных каждого признака.*
>
>*Варианты для выбора:*
>- object  
>- int64
>- float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Campaign name       137 non-null    object
 1   Campaign period     137 non-null    object
 2   Campaign month      137 non-null    object
 3   Delivery status     137 non-null    object
 4   Reach               137 non-null    int64
 5   Outbound clicks     137 non-null    int64
 6   Landing page views  137 non-null    int64
 7   Result type         137 non-null    object
 8   Results             137 non-null    int64
 9   Amount spent (AED)  137 non-null    float64
dtypes: float64(1), int64(4), object(5)
memory usage: 10.8+ KB

In [7]:
df

,Campaign name,Campaign period,Campaign month,Delivery status,Reach,Outbound clicks,Landing page views,Result type,Results,Amount spent (AED)
0,brand awareness,march,march,archived,141835342,32289,5584,Reach,142000000,25531.47
1,cpr | ads website leads prospecting | 18 to 35...,march,march,inactive,4434511,38284,16060,Website leads,4347,19756.78
2,internship | virtual internship,nov | dec | jan | oct | fall | feb,nov,completed,911773,15679,10904,Website applications submitted,2706,16156.41
3,internship | virtual internship,nov | dec | jan | oct | fall | feb,dec,completed,1010394,16961,12387,Website applications submitted,2625,14935.46
4,internship | virtual internship,nov | dec | jan | oct | fall | feb,jan,inactive,1580670,27483,21140,Website applications submitted,5707,14887.13
...,...,...,...,...,...,...,...,...,...,...
132,2025 ig only_awareness excelerate_video_ad (wi...,jan | feb,feb,not_delivering,1020338,619,1,ThruPlay,74156,1127.58
133,power skill course | secrets to operational ex...,dec | feb,dec,completed,32403,342,215,Website applications submitted,197,1101.71
134,ig only_awareness excelerate_carousel_ad (with...,dec,dec,completed,1494425,1041,200,Estimated ad recall lift (people),11300,733.57
135,power skill course | secrets to operational ex...,dec | feb,feb,not_delivering,23354,215,153,Website applications submitted,193,515.88
136,2025 | masterclass | sbd | tulip application,feb,feb,not_delivering,28140,332,200,Website applications submitted,154,414.24

## 1.4
>*Укажите шкалу измерения каждого признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**:

| **Признак**             | **Правильный ответ**          |
|--------------------------|-------------------------------|
| Campaign name            | категориальный номинальный   |
| Campaign period          | категориальный номинальный   |
| Campaign month           | категориальный номинальный   |
| Delivery status          | категориальный номинальный   |
| Reach                    | количественный дискретный    |
| Outbound clicks          | количественный дискретный    |
| Landing page views       | количественный дискретный    |
| Result type              | категориальный номинальный   |
| Results                  | количественный дискретный    |
| Amount spent (AED)       | количественный непрерывный   |

---

# 2
>*Создайте два новых признака `CPR` (стоимость одного целевого действия: `Amount spent (AED)` / `Results)` и `CPC` (стоимость одного клика: `Amount spent (AED)` / `Outbound clicks`).*

In [9]:
df['CPR'] = df['Amount spent (AED)'] / df['Results']
df['CPC'] = df['Amount spent (AED)'] / df['Outbound clicks']

## 2.1

>Укажите шкалу измерения созданных признаков:
>*Укажите шкалу измерения каждого признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**: количественный непрерывный

## 2.2

>*Среди приостановленных рекламных компаний (**inactive**; `Delivery status`) найдите рекламную компанию с наибольшей стоимостью одного целевого действия (`CPR`). В ответ укажите стоимость одного клика для нее (`CPC`). Ответ округлите до двух знаков.*

In [14]:
# 1. фильтрация
df_flt = df[df['Delivery status'] == 'inactive']

# 2. сортировка
df_flt.sort_values('CPR').tail(1).loc[:, 'CPC'].round(2)

85    0.25
Name: CPC, dtype: float64

**Ответ**: `0.25`

---

# 3

>*Создайте новый признак `Reach_coded` на основе охвата (`Reach`):*
>
>- *если охват меньше 45 000, вернуть `Low`*
>- *если охват меньше 455 000, вернуть `Middle`*
>- *в остальных случаях вернуть `High`*

In [15]:
def encode(x):
    if x < 45_000:
        return 'Low'
    elif x < 455_000:
        return 'Middle'
    else:
        return 'High'

df['Reach_coded'] = df['Reach'].apply(encode)

## 3.1
>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ:** количественный порядковый

## 3.2
>*Среди рекламных компаний с низким (**Low**; `Reach_coded`) и высоким охватом (**High**; `Reach_coded`) найдите ту, у которой количество загрузок целевой страницы (`Landing page views`) наибольшее. В ответ укажите тип целевого действия (`Result type`), которое приследовала эта рекламная компания.*

In [22]:
# 1. фильтрация
df_flt = df[df['Reach_coded'].isin(['Low', 'High'])]

# 2. сортировка
df_flt.sort_values('Landing page views').tail(1).loc[:, 'Result type']

4    Website applications submitted
Name: Result type, dtype: object

---

# 4
>*В описании некоторых рекламных компаний (`Campaign name`) обозначена целевая аудитория. Создадим новый признак `TA` по следущему правилу:*
>
>- *если `Campaign name` содержит 18 to 35 years, вернуть **18-35***
>- *в остальных случаях вернуть **all***

In [23]:
df['TA'] = df['Campaign name'].apply(lambda x: '18-35' if '18 to 35 years' in x else 'all')

## 4.1
>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**: категориальный бинарный

## 4.2

>*Найдите процент рекламных компаниях, целевая аудитория которых от 18 до 35 лет (**18-35**; `TA`). Ответ округлите до двух знаков.*

In [25]:
round(
    100 * df[df['TA'] == '18-35'].shape[0] / df.shape[0],
    2
)

10.95

---

# 5

>*Создайте новый признак `Campaign Len`, который будет содержать информацию о количестве символов в названии рекламной компании (`Campaign name`).*

In [26]:
df['Campaign Len'] = df['Campaign name'].apply(len)

## 5.1

>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**ответ**: количественный дискретный

## 5.2
>*Найдите месяц реализации рекламной компании (`Campaign month`) с самым коротким названием (`Campaign Len`), у которой `Outbound clicks` менее 1000.*

In [28]:
# 1. фильтрация
df_flt = df[df['Outbound clicks'] < 1000]

# 2. сортировка
df_flt.sort_values('Campaign Len').head(1).loc[:, 'Campaign month']

45    nov
Name: Campaign month, dtype: object

---

## 6

>*Создайте новый признак `Month count`, в котором будет содержаться информация по продолжительности рекламных компаний. Логика нового признака*
>- *если `Campaign period` содержит **fall**, вернуть **12***
>- *во всех остальных случаях вернуть количество месяцев*

In [29]:
def code(x):
    if x == 'fall':
        return 12
    else:
        return x.count('|') + 1

df['Month count'] = df['Campaign period'].apply(code)

## 6.1

>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**ответ**: дискретный

## 6.2
Укажите название рекламной компании (`Campaign name`), реализуемой весь год (**12**; `Month count`), со средним охватом аудитории (**Middle**; `Reach_coded`) у которой общие затраты (`Amount spent (AED)`) наименьшие.

In [35]:
# 1. фильтрация
df_flt = df[(df['Month count'] == 12) & (df['Reach_coded'] == 'Middle')]

# 2. сортировка
df_flt.sort_values('Amount spent (AED)').head(1).loc[:, 'Campaign name'].item()

'fb only prospecting xperience design hackathon | website leads/sign ups'