# **Практика 3. Новые признаки**

Вы работаете с датасетом который содержит информацию по эпизодам сериалов вселенной Скуби-ду:


| ПРИЗНАК |	 ОПИСАНИЕ | 
| ---- | ---- | 
| `series_name`	 |  название сериала | 
| `season`	 |  номер сезона | 
| `title`	 |  название эпизода | 
| `imdb` |  рейтинг серии (от 0 до 10) | 
| `engagement` | 	 количество людей, поставивших оценку эпизода | 
| `date_aired`	 |  дата выхода эпизода | 
| `run_time` | 	 продолжительность эпизода | 
| `monster_type` | 	 список монстров в эпизоде |

[SmartLMS](https://edu.hse.ru/mod/quiz/view.php?id=1606511)

In [2]:
import pandas as pd
df = pd.read_csv('data/scoobydoo.csv')

## **Задание 1**
>*Определите тип данных каждого признака:*

| Признак |	 Тип данных | 
| ---- | ---- | 
| `series_name`	 | категориальный номинальный | 
| `season`	|  категориальный номинальный | 
| `title`	| категориальный номинальный | 
| `imdb` | количественный непрерывный | 
| `engagement` | количественный дискретный | 
| `run_time` | количественный дискретный | 
| `monster_type` | категориальный номинальный |

Варианты для выбора:
- категориальный номинальный
- категориальный бинарный
- категориальный ранговый
- количественный непрерывный
- количественный дискретный

---

## **Задание 2**
>*Переведите рейтинг эпизода (`imdb`) в 100-бальную шкалу (`imdb`\*10). В ответ введите сколько эпизодов сериала имеют рейтинг не более 90 (по 100-бальной шкале)*

In [22]:
df['imbdb_new'] = df['imdb'] * 10
(df['imbdb_new'] <= 90).sum()

np.int64(438)

---

## **Задание 3**
>*Укажите тип данных признака, созданного в прошлом задании.*
>
>Варианты для выбора:
>- категориальный номинальный
>- категориальный бинарный
>- категориальный ранговый
>- количественный непрерывный
>- количественный дискретный

**Ответ:** категориальный дискретный

---

## **Задание 4**
>*Добавьте в таблицу новый признак `engagement_recoded`, который будет представлять собой кодированные значения признака `engagement`. Кодировку проведите следующим образом: если значение engagement меньше 100 – **low**, если меньше 500 – **medium**, а во всех остальных случаях – **high**. В ответ укажите название серии (`title`) из категории **low** (`engagement_recoded`) с наибольшим рейтингом (`imdb`).*

In [24]:
def encode(x):
    if x < 100:
        return "low"
    elif x < 500:
        return "medium"
    else:
        return "high"

df["engagement_recoded"] = df['engagement'].apply(encode)

df[df["engagement_recoded"] == "low"].sort_values("imdb", ascending=False).head(1)

,series_name,season,title,imdb,engagement,date_aired,run_time,monster_type,imbdb_new,engagement_recoded,ghost_check,run_time_recoded,monster_count,monster_len
429,Scooby-Doo and Guess Who?,1,"The Sword, the Fox and the Scooby-Doo!",8.8,35.0,2020-07-02,23,Animal,88.0,low,False,long,1,6

**Ответ**: `The Sword, the Fox and the Scooby-Doo!`

---

## **Задание 5**
>*Укажите тип данных признака `engagement_recoded`*
>
>Варианты для выбора:
>- категориальный номинальный
>- категориальный бинарный
>- категориальный порядковый
>- количественный непрерывный
>- количественный дискретный

**Ответ**: категориальный порядковый

---

## **Задание 6**
>*Добавьте в таблицу новый признак `ghost_check`, который будет представлять собой кодированные значения признака `monster_type`. Кодировку проведите следующим образом: если значение `monster_type` содержит **Ghost** – 1, иначе – 0. В ответ укажите в скольких эпизодах были приведения (1; `ghost_check`).*

In [8]:
df["ghost_check"] = df['monster_type'].apply(lambda x: 'Ghost' in x)

df["ghost_check"].sum()

np.int64(117)

---

## **Задание 7**
>*Укажите тип данных признака `ghost_check`*
>
>Варианты для выбора:
>- категориальный номинальный
>- категориальный бинарный
>- категориальный ранговый
>- количественный непрерывный
>- количественный дискретный

**Ответ**: категориальный бинарный

---

## **Задание 8**

>*Добавьте в таблицу новый признак `run_time_recoded`, который будет представлять собой кодированные значения признака `run_time`. Кодировку проведите следующим образом: если значение `run_time` длинее 20 – **long**, иначе – **short**. В ответ укажите сколько эпизодов третьего сезона (3; `season`) попали в категорию **long** (`run_time_recoded`).*

In [11]:
df["run_time_recoded"] = df['run_time'].apply(lambda x: 'long' if x > 20 else 'short')

df[(df["season"] == 3) & (df["run_time_recoded"] == "long")].shape[0]

32

## **Задание 9**

>*Укажите тип данных признака `run_time_recoded`*
>
>Варианты для выбора:
>- категориальный номинальный
>- категориальный бинарный
>- категориальный ранговый
>- количественный непрерывный
>- количественный дискретный

**Ответ**: категориальный бинарный

---

## **Задание 10**

>*Добавьте в таблицу новый признак `monster_count`, в котором будет подсчитано количество монстров, по признака `monster_type`. Кодировку проведите следующим образом:*
>
>| `monster_type`	|  `monster_count` | 
>| ----- | ----- | 
>| Plant	 | 1 | 
>| Plant,Animal	 | 2 | 
>| Plant,Animal,Ghost	| 3 | 
>
>*В ответ укажите название сериала (`series_name`) в эпизоде которого наибольшее количество монстров (`monster_count`).*

In [16]:
df["monster_count"] = df['monster_type'].apply(lambda x: x.count(',')+1)

df.sort_values("monster_count").tail(1)

,series_name,season,title,imdb,engagement,date_aired,run_time,monster_type,imbdb_new,engagement_recoded,ghost_check,run_time_recoded,monster_count
430,Scooby-Doo and Guess Who?,1,One Minuite Mysteries!,7.9,36.0,2020-07-02,23,"Undead,Ghost,Disguised,Magician,Possessed Obje...",790.0,low,True,long,8

**Ответ**: `Scooby-Doo and Guess Who?`

---

## **Задание 11**

>*Укажите тип данных признака `monster_count`*
>
>Варианты для выбора:
>- категориальный номинальный
>- категориальный бинарный
>- категориальный ранговый
>- количественный непрерывный
>- количественный дискретный

**Ответ:** количественный дискретный

---

## **Задание 12**

>*Добавьте в таблицу новый признак `monster_len`, в котором будет подсчитано количество символов по признаку `monster_type`. В ответ укажите сколько людей (`engagement`) оценили эпизод из второго сезона (2; `season`) сериала **The New Scooby-Doo Movies** (`series_name`) у которого наибольшее значение `monster_len`.*

In [19]:
df["monster_len"] = df['monster_type'].apply(len)

df[(df["season"] == 2) & (df["series_name"] == "The New Scooby-Doo Movies")].sort_values("monster_len", ascending=False).head(1)

,series_name,season,title,imdb,engagement,date_aired,run_time,monster_type,imbdb_new,engagement_recoded,ghost_check,run_time_recoded,monster_count,monster_len
45,The New Scooby-Doo Movies,2,The Exterminator,7.6,85.0,1973-10-06,44,"Disguise,Animal,Ghost,Undead,Disguised",760.0,low,True,long,5,38

**Ответ**: 85

---

## **Задание 13**

>*Укажите тип данных признака `monster_len`*
>
>Варианты для выбора:
>- категориальный номинальный
>- категориальный бинарный
>- категориальный ранговый
>- количественный непрерывный
>- количественный дискретный

**Ответ**: количественный дискретный