# **НЭ. Задание `B2`**

**В части `B` нам предоставляют датасет, по которому нам и необходимо ответить на вопросы. На все задания части `B` - один датасет**

В задании **`B2`** проверяется умение подсчета статистик - необходимо знать как определение различных статистик, так и случаи, когда их считать корректно, а когда - нет. 

Прочитать про статистике можно в [Хэндбуке, главе #6](https://edu.hse.ru/course/view.php?id=236211&section=6)

[SmartLMS](https://edu.hse.ru/course/section.php?id=1060342#module-1220253)

In [1]:
import pandas as pd

## **Вопрос 1**

>*Рассчитайте заданные описательные статистики. Численные ответы округлите до двух знаков.*
>1. *Укажите усредненный квадрат отклонения данных от среднего арифметического признака `atemp`*
>2. *Укажите меньше какого значения 25% наблюдений признака `windspeed`*
>3. *Рассчитайте для признака `humidity` меру центральной тенденции, не устойчивую к выбросам*
>4. *Рассчитайте диапазон, в котором лежит 50% центральных данных признака `humidity`*

In [3]:
df = pd.read_csv('data/train1_b.csv')
df.head()

   season   atemp  humidity  windspeed
0       1  14.395        81        0.0
1       1  13.635        80        0.0
2       1  13.635        80        0.0
3       1  14.395        75        0.0
4       1  14.395        75        0.0

In [5]:
# 1. усредненный квадрат отклонения данных от среднего арифметического признака `atemp` = дисперсия
print(round(df['atemp'].var(), 2))

# 2. меньше какого значения 25% наблюдений признака `windspeed` = первый квартиль
print(round(df['windspeed'].quantile(0.25), 2))

# 3. мера центральной тенденции, не устойчивую к выбросам для признака `humidity` = среднее арифметическое
print(round(df['humidity'].mean(), 2))

# 4. диапазон, в котором лежит 50% центральных данных признака `humidity` = межквартильный размах
q1 = df['humidity'].quantile(0.25)
q3 = df['humidity'].quantile(0.75)
iqr = q3 - q1
print(round(iqr, 2))

74.29
7.0
63.41
30.0

---

## **Вопрос 2**

> *Рассчитайте заданные описательные статистики. Численные ответы округлите до двух знаков.*
> 1. *Рассчитайте меру вариативности признака `cat`*
> 2. *Укажите больше какого значения 25% наблюдений признака `total_fat`*
> 3. *Рассчитайте для признака `protein` описательную статистику, которая делит данные пополам*
> 4. *Для признака `calcium` рассчитайте меру вариативности, которая не устойчива к выбросам и при этом не отражает отклонения данных от среднего арифметического*

In [6]:
df = pd.read_csv('data/train2_b.csv')
df.head()

   cat  total_fat  protein  calcium
0    3         20       17       25
1    3         12       18       25
2    3         35       14       25
3    3         43       21       30
4    3         35       21       25

In [ ]:
# 1. мера вариантивности признака `cat` = количество уникальных значений (тк это категориальный признак)
print(df['cat'].nunique())

# 2. больше какого значения 25% наблюдений признака `total_fat` = третий квартиль
print(round(df['total_fat'].quantile(0.75), 2))

# 3. мера центральной тенденции признака `protein`, которая делит данные пополам = медиана
print(round(df['protein'].median(), 2))

# 4. мера вариативности для признака `calcium`, которая не устойчива к выбросам 
# и при этом не отражает отклонения данных от среднего арифметического = размах
print(round(df['calcium'].max() - df['calcium'].min(), 2))

9
35.0
12.0
70

---

## **Вопрос 3**

> *Рассчитайте заданные описательные статистики. Численные ответы округлите до двух знаков.*
> 1. *Для признака `Economy` укажите меру центральной тенденции, на основе которой рассчитывается стандартное отклонение*
> 2. *Рассчитайте меру центральной тенденции признака `Region`*
> 3. *Рассчитайте меру вариативности для признака `Country`*
> 4. *Для признака `Health` рассчитайте меру вариативности, которая устойчива к выбросам*

In [8]:
df = pd.read_csv('data/train3_b.csv')
df.head()

       Country Region  Economy  Health
0  Switzerland      J     1.40    0.94
1      Iceland      J     1.30    0.95
2      Denmark      J     1.33    0.87
3       Norway      J     1.46    0.89
4       Canada      F     1.33    0.91

In [9]:
# 1. мера центральной тенденции, на основе которой рассчитывается стандартное отклонение для признака `Economy` = среднее арифметическое
print(round(df['Economy'].mean(), 2))

# 2. мера центральной тенденции признака `Region` = мода (тк это категориальный признак)
print(df['Region'].mode()[0])

# 3. мера вариативности для признака `Country` = количество уникальных значений (тк это категориальный признак)
print(df['Country'].nunique())

# 4. мера вариативности для признака `Health`, которая устойчива к выбросам = межквартильный размах
q1 = df['Health'].quantile(0.25)
q3 = df['Health'].quantile(0.75)
iqr = q3 - q1
print(round(iqr, 2))

0.85
I
158
0.37

---

## **Вопрос 4**

> *Рассчитайте заданные описательные статистики. Численные ответы округлите до двух знаков.*
> 1. *Для признака `Duration` рассчитайте описательную статистику, которая показывает выше какого значения находится 0% наблюдений*
> 2. *Для признака `Age` вычислите описательную статистику, которая одновременно служит мерой центральной тенденции и является квартилем*
> 3. *Укажите больше какого значения находится 75% наблюдений признака `Credit amount`*
> 4. *Для признака `Sex` укажите самое популярное значение*

In [10]:
df = pd.read_csv('data/train4_b.csv')
df.head()

   Age  Sex  Credit amount  Duration
0   67    0           1169         6
1   22    1           5951        48
2   49    0           2096        12
3   45    0           7882        42
4   53    0           4870        24

In [12]:
# 1. описательная статистика, которая показывает выше какого значения находится 0% наблюдений для признака `Duration` = максимум
print(round(df['Duration'].max(), 2))

# 2. описательная статистика, которая одновременно служит мерой центральной тенденции 
# и является квартилем для признака `Age` = медиана (второй квартиль)
print(round(df['Age'].median(), 2))

# 3. больше какого значения находится 75% наблюдений признака `Credit amount` = первый квартиль
print(round(df['Credit amount'].quantile(0.25), 2))

# 4. самое популярное значение для признака `Sex` = мода
print(df['Sex'].mode()[0])

72
33.0
1342.25
0

---

## **Вопрос 5**

> *Рассчитайте заданные описательные статистики. Численные ответы округлите до двух знаков.*
> 1. *Для признака `Sunlight_Hours` рассчитайте описательную статистику, которая показывает усреднённое отклонение данных от среднего арифметического*
> 2. *Для признака `Temperature` вычислите меру центральной тенденции, которая не устойчива к выбросам*
> 3. *Укажите не меньше какого значения находится 100% наблюдений признака `Humidity`*
> 4. *Для признака `Soil_Type` вычислите меру центральной тенденции*

In [13]:
df = pd.read_csv('data/train5_b.csv')
df.head()

   Soil_Type  Sunlight_Hours  Temperature   Humidity
0          2        5.192294    31.719602  61.591861
1          3        4.033133    28.919484  52.422276
2          2        8.892769    23.179059  44.660539
3          2        8.241144    18.465886  46.433227
4          3        8.374043    18.128741  63.625923

In [14]:
# 1. усреднённое отклонение данных от среднего арифметического для признака `Sunlight_Hours` = стандартное отклонение
print(round(df['Sunlight_Hours'].std(), 2))

# 2. мера центральной тенденции, которая не устойчива к выбросам для признака `Temperature` = среднее арифметическое
print(round(df['Temperature'].mean(), 2))

# 3. не меньше какого значения находится 100% наблюдений признака `Humidity` = минимум
print(round(df['Humidity'].min(), 2))

# 4. мера центральной тенденции для признака `Soil_Type` = мода (тк это категориальный признак)
print(df['Soil_Type'].mode()[0])

1.6
25.08
30.57
1