# **НЭ. Задание `B3`**

**В части `B` нам предоставляют датасет, по которому нам и необходимо ответить на вопросы. На все задания части `B` - один датасет**

В задании **`B3`** проверяется умение подсчета и интерпретации корреляции Пирсона и Спирмена. Прочитать про корреляцию можно в [Хэндбуке, главе #7](https://edu.hse.ru/course/view.php?id=236211&section=7)

[SmartLMS](https://edu.hse.ru/course/section.php?id=1060342#module-1220253)

In [1]:
import pandas as pd

## **Вопрос 1**

Вам предоставлен датасет, который содержит информацию о погоде в течение года.  

Датасет содержит следующие признаки:

| признак | описание | 
| --- | --- | 
| season	| сезон (1 – весна, 2 – лето, 3 – осень, 4 – зима) | 
| atemp	 | средняя температура (в градусах Цельсия) | 
 | humidity	  | относительная влажность воздуха | 
 | windspeed	 |  скорость ветра |

>*Рассчитайте коэффициент корреляции для признаков `atemp` и `windspeed`, характеризующий степень их линейной взаимосвязи. Ответ округлите до двух знаков.*

In [13]:
df = pd.read_csv('data/train1_b.csv')

Степень линейной взаимосвязи = корреляция Пирсона

In [14]:
df.corr(numeric_only=True).round(2)

           season  atemp  humidity  windspeed
season       1.00   0.31      0.20      -0.17
atemp        0.31   1.00     -0.02      -0.04
humidity     0.20  -0.02      1.00      -0.29
windspeed   -0.17  -0.04     -0.29       1.00

**Ответ**: -0.04

---

## **Вопрос 2**

Вам предоставлен датасет, который содержит информацию о блюдах ресторана быстрого питания.   

Датасет содержит следующие признаки:

| признак | описание | 
| --- | --- | 
 | cat | в какой категории находится блюдо (1 – Beef & Pork, 2 – Beverages, 3 – Breakfast, и т.д.) | 
  |  total_fat | 	 количество жиров (в процентах от дневной нормы) | 
| protein	 | количество белка | 
| calcium	 | количество углеводов |

> *Рассчитайте коэффициент корреляции для признаков `calcium` и `protein`, характеризующий степень их их монотонной зависимости. Ответ округлите до двух знаков.*

In [15]:
df = pd.read_csv('data/train2_b.csv')

Степень монотонной взаимосвязи = корреляция Спирмена

In [16]:
df.corr(numeric_only=True, method='spearman').round(2)

            cat  total_fat  protein  calcium
cat        1.00      -0.14    -0.19     0.26
total_fat -0.14       1.00     0.77     0.33
protein   -0.19       0.77     1.00     0.53
calcium    0.26       0.33     0.53     1.00

**Ответ**: 0.53

---

## **Вопрос 3**

Вам предоставлен датасет, оторый содержит информацию о социально-экономических характеристиках разных стран.  

Датасет содержит следующие признаки:

| признак | описание | 
| --- | --- | 
| Country | название страны | 
| Region | географический регион (Australia and New Zealand — A, Central and Eastern Europe — B, Eastern Asia — C, и т.д.) | 
| Economy	 | показатель экономического развития страны | 
| Health	 | показатель здоровья населения страны |

> *Рассчитайте коэффициент корреляции, который более подвержен влиянию выбросов, для признаков `Economy` и `Health`. Ответ округлите до двух знаков.*

In [17]:
df = pd.read_csv('data/train3_b.csv')

Более подверженная выбросам корреляция - Пирсона

In [18]:
df.corr(numeric_only=True).round(2)

         Economy  Health
Economy     1.00    0.82
Health      0.82    1.00

**Ответ**: 0.82

---

## **Вопрос 4**

Вам предоставлен датасет, который содержит информацию о заемщиках банка в Германии.

Датасет содержит следующие признаки:

| признак | описание | 
| --- | --- | 
| Age	| возраст заемщика | 
| Sex	 | пол заемщика (женщины — 1, мужчины — 2) | 
 | Credit amount		  | размер кредита, в немецких марках | 
 | Duration	 |   срок кредитования, в месяцах |

> *Рассчитайте подходящий коэффициент корреляции (Пирсон или Спирман) для анализа связи между признаками `Sex` и `Credit amount`. В ответ запишите найденное значение корреляции. Ответ округлите до двух знаков. Ответ округлите до двух знаков.*

In [9]:
df = pd.read_csv('data/train4_b.csv')

`Sex` - категориальный признак $\to$ подходящая корреляция Спирмена

In [10]:
df.corr(numeric_only=True, method='spearman').round(2)

                Age   Sex  Credit amount  Duration
Age            1.00 -0.22           0.00     -0.07
Sex           -0.22  1.00          -0.10     -0.05
Credit amount  0.00 -0.10           1.00      0.62
Duration      -0.07 -0.05           0.62      1.00

**Ответ**: -0.10

---

## **Вопрос 5**

Вам предоставлен датасет, который содержит информацию о погоде в течение года.  

Датасет содержит следующие признаки:

| признак | описание | 
| --- | --- | 
| Soil_Type  | тип почвы (1 — глина, 2 — суглинок, 3 — песок) | 
 | Sunlight_Hours  | среднее количество часов, которое растение проводило на солнце | 
 | Temperature  | температура воздуха, в которой росли растения (градусы Цельсия) | 
 | Humidity  | относительная влажность воздуха, в которой росли растения (%) |

> *Рассчитайте коэффициент корреляции который не требует унимодальности и симметричности распределения данных, для признаков `Sunlight_Hours` и `Humidity`. Ответ округлите до двух знаков.*

In [11]:
df = pd.read_csv('data/train5_b.csv')

Корреляция Спирмена не требует унимодального симметричного распределения.

In [12]:
df.corr(numeric_only=True, method='spearman').round(2)

                Soil_Type  Sunlight_Hours  Temperature  Humidity
Soil_Type            1.00           -0.14        -0.01     -0.04
Sunlight_Hours      -0.14            1.00        -0.10     -0.03
Temperature         -0.01           -0.10         1.00      0.09
Humidity            -0.04           -0.03         0.09      1.00

**Ответ**: -0.03