# **НЭ. Задание `C3`**

[SmartLMS](https://edu.hse.ru/course/section.php?id=1060343)

**В части `C` нам предоставляют датасет, по которому нам и необходимо ответить на вопросы. На все задания части `C` - один датасет**

Для выполнения задания **`C3`** тестируется умение агрегировать данные, строить и работать со сводными таблицами. 
- Построение сводных таблиц + базовые функции агрегации ([Хэндбук, глава 5](https://edu.hse.ru/course/view.php?id=236211&section=5))
- Статистики как функции агрегации ([Хэндбук, глава 6](https://edu.hse.ru/course/view.php?id=236211&section=6))

In [1]:
import pandas as pd

## **Вопрос 1**

Вам предстоит работать с датасетом, который содержит информацию о продаже автомобилей в Армении `train1_C.csv`:


| **Признак**  | **Описание**                                |
|--------------|---------------------------------------------|
| Car Name     | марка и модель автомобиля                   |
| Year         | год выпуска автомобиля                       |
| Region       | локация, где автомобиль был зарегистрирован |
| FuelType     | тип двигателя автомобиля                     |
| Mileage      | пробег автомобиля (км)                       |
| Price        | цена автомобиля (драмы)                      |
| Owners       | количество предыдущих владельцев            |

>*Постройте сводную таблицу, где по строкам расположены места регистрации (`Region`), а по столбцам — первый и третий квартиль цены автомобилей (`Price`) для каждого места регистрации. В ответе укажите, для скольки мест регистрации (`Region`) значение интерквартильного диапазона цены (`Price`) равно 0. Ответ округлите до двух знаков.*

In [4]:
df = pd.read_csv('data/train1_C.csv')

q1 = df.groupby('Region')['Price'].quantile(0.25)
q3 = df.groupby('Region')['Price'].quantile(0.75)

((q3 - q1) == 0).sum()

np.int64(75)

---

## **Вопрос 2**

Вам предстоит работать с датасетом, который содержит информацию о домах в некотором штате США в 2014-2015 гг `train2_C.csv`. Датасет содержит следующие признаки: 


| **Признак**     | **Описание**                                    |
|-----------------|-------------------------------------------------|
| price           | стоимость дома ($)                              |
| bedrooms        | количество спален в доме                        |
| sqft_living     | площадь жилых помещений (фут²)                 |
| sqft_lot        | общая площадь (фут²)                            |
| waterfront      | дом на набережной (да — 1, нет — 0)           |
| grade           | оценка эксперта (от 1 до 13)                   |
| yr_built        | год постройки                                  |
| yr_renovated    | год ремонта (если ремонта не было — 0)         |

>*Постройте сводную таблицу, где по строкам расположено количество спален (`bedrooms`), а по столбцам — среднее значение жилой площади (`sqft_living`) и среднее значение общей площади (`sqft_lot`) для каждого количества спален. В качестве ответа укажите, сколько спален в домах, где доля жилой площади от общей наибольшая (`sqft_living`/`sqft_lot`). Ответ округлите до двух знаков.*

In [8]:
df = pd.read_csv('data/train2_C.csv')

grouped = df.groupby('bedrooms')[['sqft_living', 'sqft_lot']].mean()
grouped['living_frac'] = grouped['sqft_living'] / grouped['sqft_lot']
grouped.sort_values(by='living_frac', ascending=False)

          sqft_living      sqft_lot  living_frac
bedrooms
9         3775.000000   5480.000000     0.688869
11        3000.000000   4960.000000     0.604839
8         3800.000000   8971.615385     0.423558
10        3706.666667   8859.666667     0.418375
33        1620.000000   6000.000000     0.270000
7         3974.210526  20840.552632     0.190696
5         3047.545284  16769.022486     0.181737
6         3284.341912  18586.930147     0.176702
4         2554.649666  16720.793374     0.152783
3         1805.837235  14414.790208     0.125277
2         1239.752899  12096.726087     0.102487
0         1707.846154  24141.307692     0.070744
1          884.613065  16285.673367     0.054318

**Ответ**: `9`

---

## **Вопрос 3**

Вам предстоит работать с датасетом, который содержит синтетическую информацию о городской мобильности по дням `train3_C.csv`. Датасет содержит следующие признаки:


| **Признак**               | **Описание**                                               |
|----------------------------|------------------------------------------------------------|
| data                       | дата (год-месяц-день)                                      |
| public_transport_usage     | пассажиропоток общественного транспорта (чел./час)       |
| pedestrian_count           | интенсивность движения пешеходов (чел./час)              |
| temperature                | температура воздуха (градусы Цельсия)                     |
| humidity                   | относительная влажность воздуха (%)                        |
| public_transport_delay     | среднее время задержки общественного транспорта (мин.)    |
| day_of_week                | день недели                                                |
| pedestrian_incidents       | количество ДТП с участием пешеходов                        |

>*Постройте сводную таблицу, где по строкам расположены дни недели (`day_of_week`), а в столбце — дисперсия времени задержки общественного транспорта (`public_transport_delay`) для каждого дня недели. В качестве ответа укажите, для какого дня недели дисперсия задержки общественного транспорта наименьшая.*

In [11]:
df = pd.read_csv('data/train3_C.csv')

grouped = df.groupby('day_of_week')['public_transport_delay'].var()
grouped.sort_values()

day_of_week
Saturday     2.871412
Friday       2.892978
Thursday     2.914371
Tuesday      3.024859
Monday       3.068628
Sunday       3.229770
Wednesday    3.393490
Name: public_transport_delay, dtype: float64

**Ответ**: `Saturday`

---

## **Вопрос 4**

Вам предстоит работать с датасетом, который содержит информацию о треках канадской рок-группы Rush `train4_C.csv`. Датасет содержит следующие признаки:


| **Признак**        | **Описание**                                                                 |
|-------------------|----------------------------------------------------------------------------|
| song_name         | название трека                                                             |
| album_name        | название альбома                                                           |
| track_number      | номер трека на альбоме                                                     |
| popularity        | оценка популярности трека (0-100)                                         |
| danceability      | уровень танцевальности трека (0-1)                                         |
| energy            | уровень энергичности трека (0-1)                                          |
| loudness          | громкость трека (децибелы)                                                |
| mode              | настроение трека (мажорное — 1, минорное — 0)                              |
| instrumentalness  | вероятность того, что трек без вокала (чем ближе к 1 — меньше вокала)      |
| valence           | уровень позитивности трека (0-1)                                          |
| tempo             | темп трека (бит/мин.)                                                     |

>*Постройте сводную таблицу, где по строкам располагаются названия альбомов (`album_name`), а в столбце — максимальное значение признака `track_number` для каждого альбома. В качестве ответа укажите, сколько альбомов содержат более 20 треков. Ответ округлите до двух знаков.*

In [18]:
df = pd.read_csv('data/train4_C.csv')
grouped = df.groupby('album_name')['track_number'].max()

grouped[grouped > 20].shape

(6,)

---

## **Вопрос 5**

Вам предстоит работать с датасетом, который содержит информацию о горнолыжных курортах `train5_C.csv`. Датасет содержит следующие признаки:


| **Признак**           | **Описание**                                             |
|-----------------------|----------------------------------------------------------|
| Resort                | название курорта                                         |
| Country               | страна, в которой находится курорт                       |
| HighestPoint          | самый высокий пик (метры над уровнем моря)             |
| LowestPoint           | самый низкий пик (метры над уровнем моря)              |
| DayPassPriceAdult     | цена билета на подъемник (€)                            |
| TotalSlope            | количество трасс                                        |
| NightSki              | наличие ночной подсветки трасс (есть — Yes, нет — No)  |
| TotalLifts            | количество подъемников                                  |
| LiftCapacity          | общая вместимость подъемников (чел.)                   |

>*Постройте сводную таблицу, где по строкам располагаются страны (`Country`), а по столбцам — среднее по признаку `HighestPoint` и `LowestPoint` для каждой страны. В качестве ответа укажите название страны, для которой модуль разности между средним значением `HighestPoint` и `LowestPoint` наибольший.*

In [21]:
df = pd.read_csv('data/train5_C.csv')

grouped = df.groupby('Country')[['LowestPoint', 'HighestPoint']].mean()
grouped['abs_div'] = (grouped['HighestPoint'] - grouped['LowestPoint']).abs()

grouped.sort_values(by='abs_div', ascending=False).head(3)

             LowestPoint  HighestPoint      abs_div
Country
Switzerland  1165.606557   2412.967213  1247.360656
Bulgaria     1159.000000   2334.000000  1175.000000
France       1249.674699   2414.626506  1164.951807

**Ответ**: `Switzerland`

---