# **НЭ. Задание `C5`**

[SmartLMS](https://edu.hse.ru/course/section.php?id=1060343)

**В части `C` нам предоставляют датасет, по которому нам и необходимо ответить на вопросы. На все задания части `C` - один датасет**

В задании **`C5`** тестируется умение определять выбросы в данных. Необходимо знать способы нахождения выбросов и применять их на практике ([Хэндбук, глава 6](https://edu.hse.ru/course/view.php?id=236211&section=6))

In [3]:
import pandas as pd

## **Вопрос 1**

Вам предстоит работать с датасетом, который содержит информацию о продаже автомобилей в Армении `train1_C.csv`:


| **Признак**  | **Описание**                                |
|--------------|---------------------------------------------|
| Car Name     | марка и модель автомобиля                   |
| Year         | год выпуска автомобиля                       |
| Region       | локация, где автомобиль был зарегистрирован |
| FuelType     | тип двигателя автомобиля                     |
| Mileage      | пробег автомобиля (км)                       |
| Price        | цена автомобиля (драмы)                      |
| Owners       | количество предыдущих владельцев            |

>*Будем считать, что выбросами считаются наблюдения, которые отличаются от среднего арифметического более, чем на 1.5 стандартных отклонения. Определите, сколько наблюдений считаются выбросами по признаку `Price`. Ответ округлите до двух знаков.*

In [4]:
df = pd.read_csv('data/train1_C.csv')
df.head()

       Car Name  Year    Region  FuelType  Mileage  Price  Owners
0  Ford Transit  2002     Goris    Diesel   215000  12000       4
1    Ford Focus  2017    Ijevan  Gasoline    72000  11500       5
2   Opel Vectra  1998   Armavir  Gasoline   466000   4000       5
3       Mazda 6  2020  Nor Nork  Gasoline   100000  22000       3
4   Opel Vectra  1998   Armavir  Gasoline   318000   3500       6

In [6]:
low_border = df['Price'].mean() - 1.5 * df['Price'].std()
high_border = df['Price'].mean() + 1.5 * df['Price'].std()
outliers = df[(df['Price'] < low_border) | (df['Price'] > high_border)]
print(round(len(outliers), 2))

357

---

## **Вопрос 2**

Вам предстоит работать с датасетом, который содержит информацию о домах в некотором штате США в 2014-2015 гг `train2_C.csv`. Датасет содержит следующие признаки: 


| **Признак**     | **Описание**                                    |
|-----------------|-------------------------------------------------|
| price           | стоимость дома ($)                              |
| bedrooms        | количество спален в доме                        |
| sqft_living     | площадь жилых помещений (фут²)                 |
| sqft_lot        | общая площадь (фут²)                            |
| waterfront      | дом на набережной (да — 1, нет — 0)           |
| grade           | оценка эксперта (от 1 до 13)                   |
| yr_built        | год постройки                                  |
| yr_renovated    | год ремонта (если ремонта не было — 0)         |

>*Будем считать, что выбросами считаются наблюдения, которые отличаются от среднего арифметического на 1 стандартное отклонение и более. Определите, сколько наблюдений считаются выбросами по признаку `price`. Ответ округлите до двух знаков.*

In [7]:
df = pd.read_csv('data/train2_C.csv')
df.head()

,price,bedrooms,sqft_living,sqft_lot,waterfront,grade,yr_built,yr_renovated
0,221900.0,3,1180,5650,0,7,1955,0
1,538000.0,3,2570,7242,0,7,1951,1991
2,180000.0,2,770,10000,0,6,1933,0
3,604000.0,4,1960,5000,0,7,1965,0
4,510000.0,3,1680,8080,0,8,1987,0

In [8]:
low_border = df['price'].mean() - df['price'].std()
high_border = df['price'].mean() + df['price'].std()
outliers = df[(df['price'] < low_border) | (df['price'] > high_border)]
print(round(len(outliers), 2))

2399

---

## **Вопрос 3**

Вам предстоит работать с датасетом, который содержит синтетическую информацию о городской мобильности по дням `train3_C.csv`. Датасет содержит следующие признаки:


| **Признак**               | **Описание**                                               |
|----------------------------|------------------------------------------------------------|
| data                       | дата (год-месяц-день)                                      |
| public_transport_usage     | пассажиропоток общественного транспорта (чел./час)       |
| pedestrian_count           | интенсивность движения пешеходов (чел./час)              |
| temperature                | температура воздуха (градусы Цельсия)                     |
| humidity                   | относительная влажность воздуха (%)                        |
| public_transport_delay     | среднее время задержки общественного транспорта (мин.)    |
| day_of_week                | день недели                                                |
| pedestrian_incidents       | количество ДТП с участием пешеходов                        |

>*Будем считать, что выбросами считаются наблюдения, которые отличаются от среднего арифметического на 0.5 стандартных отклонений и более. Определите, сколько дней НЕ считаются выбросами по признаку `temperature`. Ответ округлите до двух знаков.*

In [9]:
df = pd.read_csv('data/train3_C.csv')
df.head()

,data,public_transport_usage,pedestrian_count,temperature,humidity,public_transport_delay,weather_conditions,day_of_week,pedestrian_incidents
0,2023-01-01,288.333333,863.833333,12.704031,47.833333,14.647987,Rain,Sunday,46
1,2023-01-02,232.541667,830.333333,11.343628,63.666667,11.660099,Snow,Monday,40
2,2023-01-03,267.458333,891.125000,13.902640,57.125000,14.749126,Fog,Tuesday,54
3,2023-01-04,257.791667,876.625000,17.733302,58.791667,14.248311,"Clear, Fog, Snow",Wednesday,51
4,2023-01-05,281.083333,1036.291667,13.445025,54.916667,13.869797,"Fog, Rain",Thursday,54

In [10]:
low_border = df['temperature'].mean() - 0.5 * df['temperature'].std()
high_border = df['temperature'].mean() + 0.5 * df['temperature'].std()
nonoutliers = df[(df['temperature'] > low_border) & (df['temperature'] < high_border)]
print(round(len(nonoutliers), 2))

1352

---

## **Вопрос 4**

Вам предстоит работать с датасетом, который содержит информацию о треках канадской рок-группы Rush `train4_C.csv`. Датасет содержит следующие признаки:


| **Признак**        | **Описание**                                                                 |
|-------------------|----------------------------------------------------------------------------|
| song_name         | название трека                                                             |
| album_name        | название альбома                                                           |
| track_number      | номер трека на альбоме                                                     |
| popularity        | оценка популярности трека (0-100)                                         |
| danceability      | уровень танцевальности трека (0-1)                                         |
| energy            | уровень энергичности трека (0-1)                                          |
| loudness          | громкость трека (децибелы)                                                |
| mode              | настроение трека (мажорное — 1, минорное — 0)                              |
| instrumentalness  | вероятность того, что трек без вокала (чем ближе к 1 — меньше вокала)      |
| valence           | уровень позитивности трека (0-1)                                          |
| tempo             | темп трека (бит/мин.)                                                     |

>*Будем считать, что выбросами считаются наблюдения, которые отличаются от среднего арифметического более, чем на 2.5 стандартных отклонения. Определите, сколько наблюдений считаются выбросами по признаку `tempo`. Ответ округлите до двух знаков.*

In [11]:
df = pd.read_csv('data/train4_C.csv')
df.head()

,song_name,album_name,track_number,popularity,danceability,energy,loudness,mode,instrumentalness,valence,tempo
0,Tom Sawyer,Moving Pictures (40th Anniversary Super Deluxe),1,31,0.526,0.881,-7.447,0,0.005770,0.655,87.392
1,Red Barchetta,Moving Pictures (40th Anniversary Super Deluxe),2,28,0.530,0.933,-7.377,1,0.000081,0.348,144.143
2,YYZ,Moving Pictures (40th Anniversary Super Deluxe),3,28,0.504,0.909,-8.101,1,0.842000,0.402,140.854
3,Limelight,Moving Pictures (40th Anniversary Super Deluxe),4,29,0.573,0.878,-7.990,0,0.000281,0.842,131.005
4,The Camera Eye,Moving Pictures (40th Anniversary Super Deluxe),5,26,0.356,0.793,-8.495,1,0.398000,0.149,165.004

In [13]:
low_border = df['tempo'].mean() - 2.5 * df['tempo'].std()
high_border = df['tempo'].mean() + 2.5 * df['tempo'].std()
outliers = df[(df['tempo'] < low_border) | (df['tempo'] > high_border)]
print(round(len(outliers), 2))

10

---

## **Вопрос 5**

Вам предстоит работать с датасетом, который содержит информацию о горнолыжных курортах `train5_C.csv`. Датасет содержит следующие признаки:


| **Признак**           | **Описание**                                             |
|-----------------------|----------------------------------------------------------|
| Resort                | название курорта                                         |
| Country               | страна, в которой находится курорт                       |
| HighestPoint          | самый высокий пик (метры над уровнем моря)             |
| LowestPoint           | самый низкий пик (метры над уровнем моря)              |
| DayPassPriceAdult     | цена билета на подъемник (€)                            |
| TotalSlope            | количество трасс                                        |
| NightSki              | наличие ночной подсветки трасс (есть — Yes, нет — No)  |
| TotalLifts            | количество подъемников                                  |
| LiftCapacity          | общая вместимость подъемников (чел.)                   |

>*Будем считать, что выбросами считаются наблюдения, которые отличаются от среднего арифметического на 2 стандартных отклонения и более. Определите, сколько наблюдений считаются выбросами по признаку `TotalLifts`. Ответ округлите до двух знаков.*

In [14]:
df = pd.read_csv('data/train5_C.csv')
df.head()

,Resort,Country,HighestPoint,LowestPoint,DayPassPriceAdult,TotalSlope,NightSki,TotalLifts,LiftCapacity
0,Alpendorf (Ski amedé),Austria,1980,740,52,115,No,49,75398
1,Soldeu-Pas de la Casa/​Grau Roig/​El Tarter/​C...,Andorra,2640,1710,47,210,Yes,72,99017
2,Oberau (Wildschönau),Austria,1130,900,30,2,No,2,1932
3,Dachstein West,Austria,1620,780,42,51,Yes,36,32938
4,Rosa Khutor,Southern Russia,2320,940,22,77,No,27,49228

In [15]:
low_border = df['TotalLifts'].mean() - 2 * df['TotalLifts'].std()
high_border = df['TotalLifts'].mean() + 2 * df['TotalLifts'].std()
outliers = df[(df['TotalLifts'] < low_border) | (df['TotalLifts'] > high_border)]
print(round(len(outliers), 2))

17